{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center">Works log</h1>
    {% if current_user.is_authenticated %}
        <a href="addjob" class="btn btn-secondary">Add job</a>
    {% endif %}
    {% for job in jobs %}
        <h2>Action # {{ loop.index }}</h2>
        <table>
          <tr>
            <th scope="col" style="background-color:#807f80" width="300" align="center" height="50">Title of activity</th>
            <th scope="col" style="background-color:#807f80" align="center" height="50">Team leader</th>
            <th scope="col" style="background-color:#807f80" width="150" align="center" height="50">Duration</th>
            <th scope="col" style="background-color:#807f80" align="center" height="50">List of collaborators</th>
            <th scope="col" style="background-color:#807f80" align="center" height="50">Is finished</th>
          </tr>

          <tr>
            <td scope="col" style="background-color:#07e4f8" width="300" height="50" align="center">{{ job.job }}</td>
            <td scope="col" style="background-color:#07e4f8" align="center" height="50">{{ job.team_leader }}</td>
            <td scope="col" style="background-color:#07e4f8" width="150" align="center" height="50">{{ job.work_size }} hours</td>
            <td scope="col" style="background-color:#07e4f8" align="center" height="50">{{ job.collaborators }}</td>
            {% if job.is_finished %}
                <td scope="col" style="background-color:#07e4f8" align="center" height="50">Finished</td>
            {% else %}
                <td scope="col" style="background-color:#a85780" align="center" height="50">Not finished</td>
            {% endif %}
          </tr>
        </table>
        {% if current_user.is_authenticated and (job.user == current_user == 1 or job.user == current_user) %}
                <div>
                    <a href="/job/{{ job.id }}" class="btn btn-warning">Edit</a>
                    <a href="/job_delete/{{ job.id }}" class="btn btn-danger">Delete</a>
                </div>
            {% endif %}
        {% if not loop.last %}
            <br>
        {% endif %}
    {% endfor %}
{% endblock %}