{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center">Works log</h1>
    {% for job in jobs %}
        <h2>Action # {{ loop.index }}</h2>
        <table>
          <tr>
            <th scope="col">Title of activity</th>
            <th scope="col">Team leader</th>
            <th scope="col">Duration</th>
            <th scope="col">List of collaborators</th>
            <th scope="col">Is finished</th>
          </tr>

          <tr>
            <td scope="col" style="background-color:#07e4f8">{{ job.job }}</td>
            <td scope="col" style="background-color:#07e4f8">{{ job.team_leader }}</td>
            <td scope="col" style="background-color:#07e4f8">{{ job.work_size }} hours</td>
            <td scope="col" style="background-color:#07e4f8">{{ job.collaborators }}</td>
            {% if job.is_finished %}
                <td scope="col" style="background-color:#07e4f8">Finished</td>
            {% else %}
                <td scope="col" style="background-color:#a85780">Not finished</td>
            {% endif %}
          </tr>
        </table>
        {% if not loop.last %}
            <br>
        {% endif %}
    {% endfor %}
{% endblock %}